.incident-container {
  width: 100%;
  max-width: 1040px;
  height: 100vh;
  margin: auto;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  margin: 0 60px;
}

section.form input {
  font-size: 80%;
  margin-bottom: 15px;
}
section.form textarea {
  font-family: "Poppins";
  font-size: 80%;
  margin-bottom: 15px;
}

h1 {
  font-size: 80%;
  margin: 60px auto;
}
