.register-container {
  width: 100%;
  max-width: 1040px;
  height: 100vh;
  margin: auto;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

section {
  width: 100%;
  margin: auto 60px;
}

section.form input {
  font-size: 80%;
  margin-bottom: 8px;
}

section.static {
  justify-content: space-around;
}
